@import url("https://fonts.googleapis.com/css2? family = Josefin + Sans: wght @ 100; 300; 600 & family = Aberto + Sans: wght @ 300; 400; 700 & family = Titillium + Web: wght @ 200 & display = swap ");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    font-family: "Josefin Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    background: rgb(37, 36, 36);
    height: 8vh;
    padding-left: 45px;
    padding-right: 45px;
}

.title {
    font-size: xx-large;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.fa-connectdevelop::before {
    color: #f4511e;
}

.butto {
    background-color: #f4511e;
    color: #fff;
    position: relative;
    top: 35px;
    left: 30px;
    width: 11%;
    padding: 5px;
    max-width: 150px;
    min-width: 100px;
    border-radius: 15px;
    font-size: 15px;
    border: 0.5px solid #ffffff;
}

div.band {
    display: inline-block;
    background-color: #323232;
    color: white;
    position: relative;
    top: 40px;
    left: 15px;
    right: 15px;
    width: 23%;
    max-width: 312px;
    min-width: 210px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}

.click-band {
    background-color: #32323200;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    z-index: 1;
}

.click-band:hover {
    box-shadow: 0px 0px 30px #2e2e2e;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    position: absolute;
    top: 7%;
    left: 5%;
    color: #fff;
    font-size: 15px;
}

label#idBand {
    position: absolute;
    top: 91%;
    left: 5%;
    color: #fff;
    font-size: 15px;
}

img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 100%;
}

.fa-user-circle:before {
    color: #f4511e;
    font-size: 20px;
    cursor: pointer;
}

.fa-ellipsis-v {
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.ellipsis-bt {
    position: absolute;
    background-color: #32323200;
    top: 10%;
    left: 92%;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: none;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.drop {
    position: absolute;
    top: 15%;
    left: 92%;
    width: 150px;
    height: 50px;
    background-color: #323232;
    border-radius: 10px;
    box-shadow: 5px 1px 5px black;
}


/*
    .tics {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background-color: #323232;
        border: none;
        border-radius: 0;
        width: 100%;
        color: white;
        font-size: 15px;
    }*/

.nav-list {
    list-style: none;
    display: flex;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}


/*modal de sobreposição*/

.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #363636;
    padding: 65px 70px;
    width: 400px;
    border-radius: 0.5rem;
}


/*button cancelar*/

.close-button {
    position: absolute;
    color: #f4511e;
    right: 42%;
    top: 87%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 24px;
    line-height: 24px;
    cursor: pointer;
}

.close-button:hover {
    opacity: 0.7;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/*button de criar*/

#btn {
    position: absolute;
    right: 6.2%;
    top: 80%;
    color: #ffffff;
    background: #f4511e;
    border: 0.5px solid #ffffff;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

#btn:hover {
    opacity: 0.7;
    cursor: pointer;
}


/*estilo nome da banda*/

.txt {
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}


/*estilo da caixa de texto de criar bandas*/

.username {
    position: absolute;
    width: 350px;
    height: 10px;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}


/*tela de usuario*/

.popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    text-align: center;
    width: 260px;
    height: 300px;
    max-width: 260px;
    top: 40px;
    right: 10px;
    border-radius: 10px;
    background: #363636;
    position: absolute;
}

.circle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #323232;
    background-color: #f4511e;
}

.init-letter {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: #fff;
}

.name {
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    font-size: 20px;
}

.email {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    font-size: 15px;
}

.trace {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    height: 0.3px;
    width: 200px;
    background-color: #fff;
}

.logout {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 244px;
    left: 125px;
    width: 150px;
    height: 30px;
    background-color: #363636;
    border-radius: 15px;
    font-size: 15px;
    color: #fff;
    border: 0.5px solid #ffffff;
    margin: 5px;
}

.logout:hover {
    opacity: 0.7;
    cursor: pointer;
}


/*modal de sobreposição*/

.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #363636;
    padding: 65px 70px;
    width: 400px;
    border-radius: 0.5rem;
}


/*button cancelar*/

.close-button {
    position: absolute;
    color: #f4511e;
    right: 42%;
    top: 87%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 24px;
    line-height: 24px;
    cursor: pointer;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/*button de criar*/

#btn {
    position: absolute;
    right: 6.2%;
    top: 80%;
    color: #ffffff;
    background: #f4511e;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid #ffffff;
}


/*estilo nome da banda*/

.txt {
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}


/*estilo da caixa de texto de criar bandas*/

.username {
    position: absolute;
    width: 350px;
    height: 10px;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}


/*popup deletar*/

.tics {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    background-color: #323232;
    border: none;
    border-radius: 0;
    width: 100%;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.popupp {
    position: absolute;
    left: 120%;
    top: 15%;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drop {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 160px;
    height: 50px;
    background-color: #323232;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popupp .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn .1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*modal para apagar banda*/

.modall {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modal-contentt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #363636;
    padding: 65px 70px;
    height: 100px;
    width: 400px;
    border-radius: 0.5rem;
}

.close-buttonn {
    position: absolute;
    color: #f4511e;
    right: 42%;
    top: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 24px;
    line-height: 24px;
    cursor: pointer;
}

#btnn {
    position: absolute;
    right: 6.2%;
    top: 69%;
    color: #ffffff;
    background: #f4511e;
    border: 0.5px solid #ffffff;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

#btnn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.show-modall {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

p {
    position: absolute;
    top: 30%;
    left: 55%;
    width: 400px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
}


/*dropdown*/

.dropbtn {
    position: relative;
    top: 0px;
    left: 0;
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.dropbtn:hover,
.dropbtn:focus {
    opacity: .7;
}

.dropdown {
    position: relative;
    top: -8px;
    left: 85%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 29px;
    left: 0px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    opacity: .7;
}

.fa-ellipsis-v {
    position: absolute;
    color: white;
    pointer-events: none;
}