@import url('https://fonts.googleapis.com/css2? family = Josefin + Sans: wght @ 100; 300; 600 & family = Aberto + Sans: wght @ 300; 400; 700 & family = Titillium + Web: wght @ 200 & display = swap ');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #212121;
    height: 92vh;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.fa-clock,
.fa-calendar,
.fa-map {
    color: #F4511E;
    padding-right: 8px;
}

.fa-connectdevelop:before {
    color: #F4511E;
}

.fa-user-circle:before {
    color: #F4511E;
    font-size: 20px;
    cursor: pointer;
    background: rgb(37, 36, 36);
}

button {
    border: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(37, 36, 36);
    height: 8vh;
    padding-left: 45px;
    padding-right: 45px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list a.tentar {
    border: solid white 1.5px;
    padding: 6px;
    border-radius: 3px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

.nav-list.active {
    transform: translateX(0);
}

div.top-block {
    display: flex;
    height: 40vh;
    background: black;
}

div h1.titulo-principal {
    color: white;
    margin-left: 40px;
    margin-top: 4px;
    font-size: 25px;
}

div.bottom-block {
    margin: 7px;
    display: inline-table;
    justify-content: space-between;
    overflow-x: scroll;
    height: 251px;
    gap: 12px;
    position: relative;
    top: -180px;
}

div.bottom-block h1 {
    color: black;
    border: solid transparent 1px;
    background: #F4511E;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 12px;
    padding-top: 5px;
}

div.bottom-block h2 {
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 12px;
}

div.bottom-block h3 {
    color: white;
    position: relative;
    width: 240px;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 12px 12px 12px;
    text-align: justify;
}

div.bottom-block p {
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding-left: 12px;
    text-align: justify;
}

div.bottom-block button {
    color: #F4511E;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 12px;
    cursor: pointer;
    background: #363636;
}

div.content {
    width: 244px;
    height: 214px;
    border: solid 1.5px transparent;
    border-radius: 10px;
    background: #363636;
}

div.block-above {
    background: linear-gradient(90deg, black 15%, transparent), url(../_imagens/concerto.jpg);
    height: 35vh;
    margin: 26px;
    margin-top: 0px;
    position: relative;
    top: -172px;
}

div.block-above h3.pre-title {
    font-size: 15px;
    color: #F4511E;
    padding: 20px;
}

div.block-above h3.title-ba {
    font-size: 17px;
    padding-left: 20px;
}

div.block-above h3.sub-title {
    font-size: 13px;
    padding-left: 20px;
    margin-bottom: 10px;
    color: white;
}

div.block-above ul.botton-end {
    display: flex;
    padding: 20px;
}

div.block-above button.botton-style {
    border: solid black 1px;
    color: white;
    padding: 8px;
    background-color: #F4511E;
}

div.block-above a.normal-botton {
    color: white;
    border: solid white 1.5px;
    background: transparent;
    margin-left: 20px;
    padding: 8px;
}

div h1.title-ba {
    position: absolute;
    top: 20%;
    left: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
}

@media (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgba(37, 36, 36);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

@media (max-width: 765px) {
    div.bottom-block {
        margin: auto;
        display: grid;
        justify-content: center;
        gap: 30px;
    }
    div.content {
        width: 242px;
        height: 239px;
        text-align: center;
    }
    div.bottom-block h1 {
        padding-left: none;
        padding-top: none;
    }
    div.bottom-block h2 {
        padding-left: none;
    }
    div.bottom-block h3 {
        padding-left: none;
    }
    div.bottom-block p {
        font-weight: none;
        padding-left: none;
    }
    div.bottom-block button {
        font-size: none;
        padding-left: none;
        position: relative;
        bottom: -23px;
        background: #363636;
    }
}


/*tela de usuario*/

.popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    text-align: center;
    width: 260px;
    height: 300px;
    max-width: 260px;
    top: 40px;
    right: 10px;
    border-radius: 10px;
    background: #363636;
    position: absolute;
}

.close-popup {
    color: #F4511E;
    cursor: pointer;
    top: 5px;
    right: 10px;
    position: absolute;
}

.circle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #323232;
    background-color: #F4511E;
}

.init-letter {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: #fff;
}

.name {
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    font-size: 20px;
}

.email {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    font-size: 15px;
}

.trace {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    height: .3px;
    width: 200px;
    background-color: #fff;
}

.logout {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 244px;
    left: 125px;
    width: 150px;
    height: 30px;
    background-color: #363636;
    border-radius: 15px;
    font-size: 15px;
    color: #fff;
    border: 0.5px solid #FFFFFF;
    margin: 5px;
}

.logout:hover {
    opacity: 0.7;
    cursor: pointer;
}

.space-time {
    display: flex;
}

.cancel-create {
    display: flex;
    align-items: center;
    width: 200px;
    cursor: pointer;
}


/*modal*/

.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modall {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modal-content {
    background-color: #363636;
    padding: 50px 60px;
    width: 400px;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.show-modall {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/*fechar modal com o cancelar*/

.close-button {
    position: relative;
    left: 48%;
    top: 18px;
    color: #ffffff;
    text-align: center;
    width: 24px;
    line-height: 24px;
    cursor: pointer;
}


/*button de criar evento*/

#btn input {
    position: relative;
    left: 75%;
    top: 18px;
    transform: translate(-50%);
    background: #f4511e;
    color: white;
    border: 0.5px solid #ffffff;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}


/*button de criar o evento*/

.butt {
    position: absolute;
    display: block;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 40px;
    left: 21px;
    top: 72%;
    padding: 12px;
    font-size: 15px;
    background: #f4511e;
    border: 0.5px solid #ffffff;
    color: #ffffff;
    border-radius: 7px;
}

.butt:hover {
    cursor: pointer;
}

label {
    color: #ffffff;
    font-size: 20px;
}


/*estilização das caixas de texo*/

form input[type=text] {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    width: 120%;
    height: 35px;
    margin-top: 10px;
}


/*estilização das caixas de texo de hora e data*/

form input[type=date],
form input[type=time] {
    position: relative;
    left: 18%;
    transform: translate(-50%);
    padding: 15px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    width: 57%;
    height: 35px;
    margin-top: 10px;
}


/*estilização dos textos do formulario*/

#txt {
    position: absolute;
    color: white;
    font-size: 15px;
    margin: -28px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*estilização do select*/

.type {
    position: absolute;
    margin: -28px;
    margin-top: 1px;
}

form textarea {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    width: 120%;
    max-height: 100px;
    min-height: 50px;
    max-width: 340px;
    min-width: 340px;
    height: 35px;
    margin-top: 10px;
}

textarea:hover {
    outline: none;
}

.fa-arrows-maximize {
    color: #F4511E;
    position: absolute;
}

.fa-trash {
    position: absolute;
    color: #F4511E;
    font-size: 15px;
    top: 4px;
    left: 5px;
}

.dell {
    position: relative;
    top: -366px;
    height: 23px;
    width: 23px;
    background-color: transparent;
    left: 131px;
    cursor: pointer;
}